@import '../../../../styles/vars.scss';

:host {
  background-color: #{$color-dark};
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-align: right;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
