<div class="manage-footer p-3 d-flex">
  <button *ngIf="hasProperty(onGoBack)" type="button" class="btn btn-secondary mr-auto" (click)="emitEvent(onGoBack)">
    Go Back
  </button>
  <button *ngIf="hasProperty(onDelete)" type="button" class="btn btn-danger mr-auto" (click)="emitEvent(onDelete)"
          [disabled]="disabled || deleting">
    <fa-icon *ngIf="deleting" [icon]="spinner" [fixedWidth]="true" [pulse]="true"></fa-icon>
    <fa-icon *ngIf="trashIcon && !deleting" [icon]="trashIcon" [fixedWidth]="true"></fa-icon>
    {{ trashLabel }}
  </button>
  <button *ngIf="hasProperty(onSave)" [type]="saveType" [class]="saveClass" (click)="emitEvent(onSave)"
          [disabled]="disabled || isSaving()">
    <fa-icon *ngIf="isSaving()" [icon]="spinner" [fixedWidth]="true" [pulse]="true" class="mr-1"></fa-icon>
    <fa-icon *ngIf="saveIcon && !isSaving()" [icon]="saveIcon" [fixedWidth]="true" class="mr-1"></fa-icon>
    {{ saveLabel }}
  </button>
</div>
