<div class="panel-info {{ classes }}">
  <div class="icon mr-2">
  </div>
  <div class="titles">
    <h1 class="mb-0">
      <fa-icon [icon]="icon" *ngIf="icon" class="mr-2"></fa-icon>
      {{ title }}
    </h1>
    <p *ngIf="description" [innerHTML]="description"></p>
  </div>
</div>

