<app-header></app-header>
<div class="container mt-4">
  <div class="card p-4">
    <h2 class="header">{{title.getTitle()}}</h2>
    <p>{{appSummary}}</p>
    <router-outlet></router-outlet>
  </div>
</div>
<app-config-panel></app-config-panel>
<app-login-panel></app-login-panel>
<app-toast></app-toast>
