.completed {
  background-color: #eee;
}

.checkbox {
  width: 20px;

  input {
    width: 20px;
    height: 20px;
  }
}

.content {
}

.card {
  &:hover {
    background-color: #fffef5;
  }
}

.controls {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 22px;

  .search {
    input {
      width: 300px;
    }
  }

  .form-check {
    font-size: 14px;
    display: inline-block;
  }

  .add {
    height: 40px;
  }
}
