<section id="home">
  <h5 *ngIf="configured" class="mb-2">You're all set! Login now!</h5>
  <button type="button" class="btn btn-primary" (click)="openPanel()">
    {{!configured ? 'Test with your Xano account...' : 'Login'}}
  </button>
  <a *ngIf="config.editLink" [href]="config.editLink" class="ml-4" target="_blank">{{config.editText}}</a>
  <hr class="mt-4 mb-4"/>
  <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
</section>
