<div [formGroup]="form" #inputWrap>

  <input *ngIf="!['textarea','select'].includes(type)" [formControlName]="name" [type]="type" [class]="class"
         [placeholder]="placeholder" [attr.disabled]="getDisabled()" [ngClass]="{ 'is-invalid': hasErrors() }"
         (change)="onChange($event)">

  <textarea *ngIf="type == 'textarea'" [formControlName]="name" [class]="class" [placeholder]="placeholder"
            [attr.disabled]="getDisabled()" [ngClass]="{ 'is-invalid': hasErrors() }"
            (change)="onChange($event)"></textarea>

  <select *ngIf="type == 'select'" [formControlName]="name" [class]="class" [attr.disabled]="getDisabled()"
          [ngClass]="{ 'is-invalid': hasErrors() }" (change)="onChange($event)">
    <option *ngFor="let value of values" [ngValue]='getValue(value)'>{{ getDisplay(value) }}</option>
  </select>

  <div *ngIf="error('required')" class="invalid-feedback">{{ errors['required'] || 'This field is required' }}</div>

  <div *ngIf="error('email')" class="invalid-feedback">
    {{ errors['email'] || 'Please provide a valid email address.' }}
  </div>

  <div *ngIf="error('minlength')" class="invalid-feedback">
    {{ errors['minlength'] || 'Please enter at least ' + error("minlength").requiredLength + ' characters.' }}
  </div>

  <div *ngIf="error('maxlength')"
       class="invalid-feedback">
    {{ errors['required'] || 'Please enter no more than ' + error("maxlength").requiredLength + ' characters.' }}
  </div>

  <div *ngIf="error('pattern')" class="invalid-feedback">{{ errors['pattern'] || 'Invalid format' }}</div>
  <div *ngIf="error('custom')" class="invalid-feedback">{{ errors['custom'] || 'Custom Error' }}</div>
</div>
